.button-icon {
  padding: .625rem;
  border-radius: .25rem;
  border: 2px solid var(--purple);
  background: var(--white);
  text-decoration: none;
  display: inline-block;
}

.button-icon img{
  vertical-align: middle;
}

.button-icon:hover{
  transform: scale(.95);
}