.button {
  background: var(--purple);
  color: var(--white);
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  padding-block-start: .81rem;
  padding-block-end: .81rem;
  text-transform: uppercase;
  border-radius: .25rem ;
  border: none;
  font: var(--button);
  text-decoration: none;
  text-align: center;
}

.button.is-secondary {
  background: unset;
  border: 2px solid var(--purple);
  font: var(--button);
  color: var(--purple);
}