.footer-content{
  text-align: center;
}

.footer-logo{
  display: none;
}
.footer .social{
  justify-content: center;
  padding: 0;
}

@media screen and (min-width:768px) {
  .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-start: 2.5rem;
    padding-block-end: 2.5rem;
  }
  .footer-logo{
    display: block;
  }
  .footer .social{
    order: 3;
    padding: 0;
  }
}

@media screen and (min-width:1024px) {
  .footer-copyright{
    display: flex;
    gap: .5rem;
    font: var(--body1);
    color: var(--white);
  }
  .footer{
    margin-block-start: 2.5rem;
  }

}