.header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(.625rem);
  z-index: 1;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 5rem;
}

.logo:hover{
  transform: scale(.95);
}