.hero{
  padding-block-start: 1rem;

}
.hero-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero-image{
  text-align: center;
}

.hero-image img{
  max-inline-size: 100%;
  block-size: auto;
  border-radius: .5rem;
}

.hero h1{
  font: var(--headline3);
  margin: 0;
}

.hero h1 span:nth-of-type(1){
  font: var(--headline5);
  display: block;
}


@media screen and (min-width: 768px){
  .hero{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
  .hero-description{
    max-inline-size: 28.125rem;
    order: 1;
  }
  .hero-image{
    order: 2;
  }
  .hero-description .button{
    align-self: flex-start;
  }
}

@media screen and (min-width:1024px){
   .hero-image img{
    block-size: 25rem;
    inline-size: 22rem;
    border-radius: 1rem;
  }
   .hero-description{
    max-inline-size: 35rem;
    order: 1;
  }
}
