.menu{
  display: none;
}

.menu ul{
  display: flex;
  list-style: none;
  gap: 2.5rem;

}

.menu ul a{
  font: var(--button);
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}


.menu ul a.is-active{
  color: var(--purple);
}

@media screen and (min-width: 768px){
  .menu{
    display: block;
  }

  .menu ul a:hover{
    color: var(--purple);
  }
}