.message {
  text-align: center;
  padding-block: 40px;
  padding-inline: 16px;
}

.message p {
  font: var(--headLine5)
}

.message p:first-child {
  font-weight: 400px;
}

@media screen and (min-width: 768px) {
  .message {
    padding-block: 200px;
    padding-inline: 153px;
  }
  .message p:first-child {
    font: var(--message)
  }
}