.testimony {
  border-radius: 24px;
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 40px;
  padding-block: 40px;
  margin-block-start: 40px;
  margin-block-end: 80px;
  text-align: left;
}

.testimony img{
  align-self: center;
}

.testimony p {
  font: var(--testimony);
  color: var(--purple);
  margin: 0;
}

.testimony p:last-child{
  font: var(--caption);
  opacity: 0.5;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .testimony {
    padding-block: 80px;
    padding-inline: 80px;
    text-align: center;
  }
  .testimony p {
    font: var(--message);
    font-weight: bold;
  }
  .testimony p:last-child {
    font: var(--headLine5);
  }
}
