.title{
  background: var(--purple);
  align-self: flex-start;
  font: var(--headline5);
  color: var(--white);
  padding-inline-start: .5rem;
  padding-inline-end: .5rem;
  padding-block-start: .25rem;
  padding-block-end: .25rem;
  text-decoration: none;
  box-shadow: inset .25rem -.25rem 0 var(--white);
  margin-block-start: 2.75rem;
}