.title {
  align-self: flex-start; /* que no se expanda en mobil first */
  background: var(--purple);
  color: var(--white);
  font: var(--headLine5);
  padding-block-start: 4px; /* Margen interno arriba */
  padding-block-end: 4px;
  padding-inline-start: 8px;
  padding-inline-end: 8px;
  text-decoration: none;
  margin-inline-start: 4px; /* Para que la sombra no se salga de la caja */
  box-shadow: -4px 4px 0 var(--white); /* sombra x,y, blur  */
}